{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="user_email"aria-describedby="emailHelp" placeholder="Enter your Email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="user_password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary p-2 my-2">Login</button>
          </form>

          {% if messages %}
            <ul class="mt-3">
                {% for message in messages %}
                    <li class="text-danger">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    </div>

{% endblock %}